body {
  background-color: white;
  color: black;
  font-family: 'Podkova', serif;
}

h1, h2, h3 {
  margin-bottom: 32px;
}

a {
	color: gray;
	text-decoration: none;
}

a::before {
  color: pink;
  content: "\21DD  ";
}

/*.block {
  margin: auto;
  width: 50%;
}

img, iframe, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32;
  margin-bottom: 32;
}*/

.content {
	margin-left: 10%;
	display: grid;
	width: calc(1080px + 32px);
	grid-template-columns: 540 540;
	grid-gap: 32px;
}

.content-latter {
	margin-top: 64px;
	border-top: 1px solid black;
}

.content-hero {
	grid-column: 1 / 3;
	text-align: center;
}

/*.content > div {
	text-align: left;
}
*/